<a href="https://colab.research.google.com/github/machu2312/Desafio-Data-Science/blob/main/Datasets_SilvaGuiri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Set #1 - Estadisticas jugadores de la NBA de 1950 - Actualidad** üèÄ

---

In [19]:
import pandas as pd
url = "https://raw.githubusercontent.com/machu2312/Desafio-Data-Science/main/Seasons_Stats.csv"
df1=pd.read_csv(url,encoding='utf-8')
df1
df1.drop(['Unnamed: 0'], axis=1)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,0.705,NaN,NaN,NaN,176.0,NaN,NaN,NaN,217.0,458.0
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,0.708,NaN,NaN,NaN,109.0,NaN,NaN,NaN,99.0,279.0
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,0.698,NaN,NaN,NaN,140.0,NaN,NaN,NaN,192.0,438.0
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,0.559,NaN,NaN,NaN,20.0,NaN,NaN,NaN,29.0,63.0
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,0.548,NaN,NaN,NaN,20.0,NaN,NaN,NaN,27.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24686,2017.0,Cody Zeller,PF,24.0,CHO,62.0,58.0,1725.0,16.7,0.604,...,0.679,135.0,270.0,405.0,99.0,62.0,58.0,65.0,189.0,639.0
24687,2017.0,Tyler Zeller,C,27.0,BOS,51.0,5.0,525.0,13.0,0.508,...,0.564,43.0,81.0,124.0,42.0,7.0,21.0,20.0,61.0,178.0
24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19.0,0.0,108.0,7.3,0.346,...,0.600,11.0,24.0,35.0,4.0,2.0,5.0,3.0,17.0,23.0
24689,2017.0,Paul Zipser,SF,22.0,CHI,44.0,18.0,843.0,6.9,0.503,...,0.775,15.0,110.0,125.0,36.0,15.0,16.0,40.0,78.0,240.0
24690,2017.0,Ivica Zubac,C,19.0,LAL,38.0,11.0,609.0,17.0,0.547,...,0.653,41.0,118.0,159.0,30.0,14.0,33.0,30.0,66.0,284.0

# **Data Set #2 - Series de Netflix üé•**

In [20]:
import pandas as pd
url = "https://raw.githubusercontent.com/machu2312/Desafio-Data-Science/main/tv_series_on_netflix.csv"
df2=pd.read_csv(url,encoding='utf-8')
df2
df2.drop(['Unnamed: 0'], axis=1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added,season_count
0,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,0,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",2021.0,9.0,2
1,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021-09-24,2021,TV-MA,0,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,2021.0,9.0,1
2,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021-09-24,2021,TV-MA,0,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",2021.0,9.0,1
3,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,0,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,2021.0,9.0,2
4,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,2021-09-24,2021,TV-MA,0,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...,2021.0,9.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2671,s8796,TV Show,Yu-Gi-Oh! Arc-V,NaN,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2018-05-01,2015,TV-Y7,0,"Anime Series, Kids' TV",Now that he's discovered the Pendulum Summonin...,2018.0,5.0,2
2672,s8797,TV Show,Yunus Emre,NaN,"G√∂khan Atalay, Payidar T√ºfek√ßioglu, Baran Akbu...",Turkey,2017-01-17,2016,TV-PG,0,"International TV Shows, TV Dramas","During the Mongol invasions, Yunus Emre leaves...",2017.0,1.0,2
2673,s8798,TV Show,Zak Storm,NaN,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2018-09-13,2016,TV-Y7,0,Kids' TV,Teen surfer Zak Storm is mysteriously transpor...,2018.0,9.0,3
2674,s8801,TV Show,Zindagi Gulzar Hai,NaN,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2016-12-15,2012,TV-PG,0,"International TV Shows, Romantic TV Shows, TV ...","Strong-willed, middle-class Kashaf and carefre...",2016.0,12.0,1
2675,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,2019-07-01,2018,TV-Y7,0,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",2019.0,7.0,2

# **Data Set #3 - Registro de conductores de micros escolares (GCBA) üöå**

In [22]:
import pandas as pd
url = "https://raw.githubusercontent.com/machu2312/Desafio-Data-Science/main/conductores-autorizados-de-servicios-escolares.csv"
df3=pd.read_csv(url,encoding='utf-8')
df3

,numero,fecha_vto,apellido_y_nombre,numero_documento,titular_si,titular_de_licencia,domicilio_legal,calle,altura,piso_dpto,dominio,papel_de_seguridad,long,lat,barrio,comuna,codigo_postal,codigo_postal_argentina
0,C0001,2019-01-31,OTERO ESTELA ALICIA,4731265,SI,CHAIN ARACELI,MAGALLANES 1167,MAGALLANES,1167.0,NaN,AYK 644 - NIO 883,A2614,-58.366859,-34.640620,Boca,Comuna 4,1166.0,C1166ADE
1,C0002,NaN,BRUSATORI MAR√çA SUSANA,12087911,SI,NaN,JOSE MARMOL 2130,"MARMOL, JOSE",2130.0,NaN,NaN,NaN,-58.421033,-34.639073,Boedo,Comuna 5,1255.0,C1255ABX
2,C0003,2019-03-31,BOYADJIAN FABIAN ARIEL,17975234,SI,ANDRES MYRIAM,DEAN FUNES 2182,DEAN FUNES,2182.0,NaN,CKV 654 - BLY 668 - DUU 475 - GFO 544 - GMZ 86...,A2809,-58.403777,-34.636547,Parque Patricios,Comuna 4,1244.0,C1244AAT
3,C0004,2019-01-31,DAVERIO OSCAR GABRIEL,18160973,SI,NaN,MIRALLA 2035,MIRALLA,2035.0,NaN,CDJ 967 - FNG 856,A2536,-58.489412,-34.657230,Mataderos,Comuna 9,1440.0,C1440DDC
4,C0005,2018-11-30,DAPARO MART√çN ADRIAN,25791168,SI,NaN,VIRGILIO 1754,VIRGILIO,1754.0,NaN,FCE 275,A2463,-58.515371,-34.623082,Monte Castro,Comuna 10,1408.0,C1408DEF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2433,C2446,2019-08-31,BALDO CARLOS ANIBAL,30021455,NO,TRANSPORTES GRECO SRL - GONZALEZ LUIS,PASAJE CORONDA 183,CORONDA,183.0,NaN,EWC 362 - GVL 571 - HPM 476,A3196,-58.441312,-34.622549,Caballito,Comuna 6,1424.0,C1424AOA
2434,C2447,2019-08-31,RUIZ NICOLAS MARTIN,42146105,NO,CABANA VALERIA,ISABEL LA CATOLICA 1229,ISABEL LA CATOLICA,1229.0,NaN,AA 383 CU,A3264,-58.372477,-34.643637,Barracas,Comuna 4,1269.0,C1269ABA
2435,C2448,2019-08-31,AEDO OVALLE CARLOS OMAR,92004888,NO,DREGIN ARIEL,DIAZ COLODRERO 3432,DIAZ COLODRERO,3432.0,NaN,GCR 901,A3276,-58.492636,-34.564776,Villa Urquiza,Comuna 12,1431.0,C1431FMV
2436,C2449,2019-09-30,POMILIO MAXIMILIANO OSCAR,34538444,NO,CERVETTI GABRIELA - GARAT JORGE - INGLESINI DA...,FRENCH 2966,FRENCH,2966.0,NaN,EBL 413 - CJS 338 - BVW 455 - GBT 331 - EAJ 26...,A3292,-58.405056,-34.587512,Recoleta,Comuna 2,1425.0,C1425AWJ
2437,C2450,2019-09-30,VILLAR NORBERTO JOSE,16677663,NO,VILLAR EDUARDO,CARLOS ORTIZ 1178,"ORTIZ, CARLOS",1178.0,NaN,HDX 046 - GOI 951,A3304,-58.452010,-34.640777,Flores,Comuna 7,1406.0,C1406DSN